# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Ubuntu
#	email = ubuntu@ip-172-31-23-210.us-east-2.compute.internal
[user]
	name = nikhilconsole
	email = nikhilconsole@gmail.com
